/* TODO: 
    = colors          [done]
    = typographay     [done]
    = components      [done]
        from 
        simplest to very 
        complex one
    
    = links component [done]
    = nav & header component [done]
    = block component [done]
    = blog block component [done]
    = footer component [done]

    == start put things togther with simple animation [done]
    == build light mode [ready...]
    == think about make some dynamic content from wordpress
    == start next landing page
*/

@import url(./normalize.css);

main {
  min-height: 85vh;
}

/* variables */
:root {
  --color-primary: #bfbfbf;
  --color-secondary: #808080;
  --color-pale-bg: #303030;
  --color-bg: #1f1f1f;
  --color-menu-bg: #000;
  --hello-bg: invert(100%);
  /* --hello-color: #404040; */

  /* fonts  */
  --font-primary: 'Oswald', sans-serif;
  --font-secondary: 'Roboto', sans-serif;

  /* font sizes */
  --body-font-size: 1.7rem;
}

[data-theme="light"] {
  --color-primary: #1f1f1f;
  --color-secondary: #303030;
  --color-pale-bg: #808080;
  --color-bg: #bfbfbf;
  --color-menu-bg: #fff;
  --hello-bg: invert(0%);
}

/* main styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-secondary);
  background-color: var(--color-bg);
  color: var(--color-secondary);
  font-size: 1.7rem;
  max-width: 100vw;
  /* height: auto; */
  overflow-x: hidden;
}

h2,
h3,
h4 {
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--color-primary);
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* typographay */

h1,
h2 {
  font-size: 9rem;
  font-weight: 500;
  letter-spacing: .5rem;
  line-height: 1.3;
  text-transform: uppercase;
}

h3 {
  font-size: 3rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.8rem;
  word-spacing: .4rem;
}

p {
  font-size: var(--body-font-size);
  line-height: 2;
  word-spacing: .15rem;
  margin: .5rem 0;
}

@media screen and (max-width: 768px) {

  h1,
  h2 {
    margin-bottom: 3rem;
    font-size: 7rem;
  }

  h2 {
    /* font-size: calc(var(--body-font-size) - .2rem); */
    /* font-size: 7rem; */
  }

  h3 {
    /* font-size: calc(var(--body-font-size) - .2rem); */
  }

  p {
    /* font-size: calc(var(--body-font-size) - .2rem); */
  }
}

/* Icons */
.icon {
  width: var(--body-font-size);
  height: var(--body-font-size);
  fill: var(--color-secondary);
}


/* links */

.link {
  color: inherit;
  text-decoration: none;
  font-size: calc(var(--body-font-size) - .2);
  font-family: var(--font-primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.link:hover {
  color: var(--color-primary);
}

.link:hover .icon {
  fill: var(--color-primary);
}

.link--under-line {
  text-decoration: underline;
}

/* Buttons */

.btn {
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-primary);
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1.2px;
  margin: 0;
  padding: 2rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  color: inherit;
}

.btn--outline {
  border: 2px solid var(--color-secondary);
  color: var(--color-primary);
  background: none;
  position: relative;
  transition: color .4s ease-out;
  transition-delay: .1s;
}

.btn--outline:hover {
  color: var(--color-bg);
}

.btn--outline::after,
.btn--outline::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-primary);
  animation: out_btn .3s ease-out forwards;
}

.btn--outline:hover::after,
.btn--outline:hover::before {
  animation: on_btn .4s ease-out forwards;
}

@keyframes out_btn {
  100% {
    width: 0px;
    height: 0%;
  }

  75% {
    width: 2px;
    height: 50%;
  }

  50% {
    width: 2px;
    height: 100%;
  }

  25% {
    width: 50%;
    height: 100%;
  }

  0% {
    width: 100%;
    height: 100%;
  }
}

@keyframes on_btn {
  0% {
    width: 0px;
    height: 0%;
  }

  25% {
    width: 2px;
    height: 50%;
  }

  50% {
    width: 2px;
    height: 100%;
  }

  75% {
    width: 50%;
    height: 100%;
  }

  100% {
    width: 100%;
    height: 100%;
  }

}

/* Input */

.input-group {
  width: 100%;
  margin: 2rem 0;
}

input,
.input {
  background-color: var(--color-pale-bg);
  color: var(--color-primary);
  padding: 2rem;
  font-size: inherit;
  border: 0;
  width: 100%;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-secondary);
}



/* Progress Bar in skill section */


.skill {
  margin: 1rem 0;
}

.skill__info {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.skill__prog-bar {
  width: 100%;
  height: .5rem;
  background-color: var(--color-pale-bg);
  border-radius: 5px;
}

.skill__prog-bar--complete {
  height: 100%;
  background-color: var(--color-secondary);
  border-radius: 5px;
}

/* Grids & Container */
.grid {
  display: grid;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container--large {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.grid--1x3 {
  grid-template-columns: repeat(1, 1fr);
  column-gap: 3rem;
  row-gap: 4rem;
}

@media screen and (min-width: 768px) {
  .grid--1x4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--2x3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--1x3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }

  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--2x3 {
    grid-template-columns: 70% 30%;
  }
}

@media screen and (min-width: 1320px) {
  .container {
    width: 70%;
  }
}

/* Menu */

/* icon then> navigation then> header */

.menu-toggle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: relative;
  transition: all .3s ease;
  cursor: pointer;
  display: inline-block;
}

.menu-toggle:hover {
  background-color: #0000008f;
}

.collapsible~.menu__bg {
  /* content: ''; */
  background-color: var(--color-menu-bg);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: fixed;
  z-index: -1;
  transform: scale(0);
  transition: transform .4s ease-in;
}

.collapsible--expanded~.menu__bg {
  transform: scale(80);
  /* cursor: default;
  pointer-events: none; */
}

.menu-toggle__icon {
  width: 1.5rem;
  height: 1.5px;
  background-color: var(--color-primary);
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  transition: all .1s;
}

.menu-toggle__icon::after {
  content: '';
  width: 2rem;
  height: 1.5px;
  background-color: var(--color-primary);
  position: absolute;
  top: -.8rem;
  left: 0;
  transition: all .3s;
}

.menu-toggle__icon::before {
  content: '';
  width: 2rem;
  height: 1.7px;
  background-color: var(--color-primary);
  position: absolute;
  top: .8rem;
  left: 0;
  transition: all .3s;
}

.collapsible--expanded .menu-toggle__icon {
  height: 0;
}

.collapsible--expanded .menu-toggle__icon::after {
  transform: rotate(45deg);
  top: 0;
}

.collapsible--expanded .menu-toggle__icon::before {
  transform: rotate(-45deg);
  top: 0;
}

.collapsible__content {
  position: fixed;
  top: 50%;
  left: 50%;
  visibility: hidden;
  transform: translate(-100vw, -50%);
  animation: menu-in .3s forwards;

}

.collapsible--expanded~.collapsible__content {
  animation: menu-out .4s .2s forwards;
}

@keyframes menu-out {
  0% {
    transform: translate(-100vw, -50%);
  }

  50% {
    transform: translate(100%, -50%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes menu-in {
  0% {
    transform: translate(0, -50%);
  }

  50% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-100vw, -50%);
  }
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 90%;
  margin: auto;
  position: relative;
  z-index: 2;
}

.logo {
  font-weight: 500;
  letter-spacing: -3px;
  font-size: 3rem;
  color: var(--color-primary);
  margin: auto;
}

/* mode icon */
.site-mode__toggle .icon {
  width: 3rem;
  height: 3rem;
}

[data-theme="dark"] .dark-mode__icon {
  display: none;
}

[data-theme="dark"] .light-mode__icon {
  display: block;
}

[data-theme="light"] .dark-mode__icon {
  display: block;
}

[data-theme="light"] .light-mode__icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .logo {
    margin: 2rem;
  }

  .nav__item a {
    margin: .5rem;
    font-size: var(--body-font-size);
  }
}

/* List */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}


/* Post component */

.post {
  width: 100%;
}

.post__img {
  width: 100%;
  height: 30rem;
  position: relative;
}

.post__img img,
.post__img .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.post__title {
  margin: 2rem 0;
}

.post__excerpt p {
  margin: .5rem 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post__date {
  opacity: .7;
}




/* Block  */
.block {
  padding: 14rem 0 3rem;
}

/* Hello Section */

.hello {
  background-image: url(/images/hello-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -7rem;
  padding-top: 23rem;
  padding-bottom: 20rem;
  filter: var(--hello-bg);
  -webkit-filter: var(--hello-bg);
}

.hello h2 {
  margin-top: 0;
  color: #404040;
}

.hello p {
  margin: 1rem;
}

/* Works Section */

.works {
  /* padding: 5rem 0 16rem; */
  padding-top: 5rem;
}

.works__grid {
  margin-bottom: 8rem;
}

.work {
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

.work img,
.work .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: transform .3s;
  position: relative;

}

.work:hover img {
  transform: scale(.9);
}


/* About */

.about {}

.about .grid {
  margin: 6rem 0;
}

.about__me .img,
.about__me img {
  width: 80%;
  height: 35rem;
  object-fit: cover;
  object-position: 50% 15%;
  filter: grayscale(1);
  position: relative;
}

@media screen and (max-width: 768px) {
  .skills {
    margin-top: 5rem;
  }

}


/* Blog */
.blog {}

.blog__post {}

.blog__title {}

.blog__title h2 {
  font-size: 8rem;
  margin-bottom: 8rem;
}

@media screen and (max-width: 768px) {
  .blog__post {
    width: 100% !important;
  }

  .blog__title {
    text-align: center;
  }

  .blog__title h2 {
    font-size: 7rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
}

/* Contact */
.contact {}

.contact h2 {
  margin-bottom: 5rem;
}

.contact__title {}

.contact__info {
  margin-top: 5rem;
}

.contact__info p {
  margin: 2rem 0;
}

.contact .error {
  border: 1px solid red;
}

.contact .btn {
  display: flex;
}

/* .contact .error::after{
  content: 'this field is required';
  display: block;
} */
@media screen and (max-width: 768px) {
  .contact__form .btn {
    margin: auto;
  }
}

/* Footer */


.footer {
  padding: 1rem;
  background-color: var(--color-pale-bg);
}

.footer .grid--2x3 {
  /* grid-auto-flow: dense; */
  /* direction: rtl; */
}

.footer>.container--large,
.footer__social,
.footer__social-media,
.footer__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contact,
.footer__contact a,
.social__links,
.footer__social {
  margin: 0 2rem;
}

.social__links a {
  margin: 0 1rem;
}

.social__links {
  position: relative;
  margin-left: 12rem;
}

.social__links::after {
  content: "";
  width: 6rem;
  height: 1px;
  background-color: var(--color-primary);
  position: absolute;
  left: -9rem;
  top: 50%;
  transform: translateY(-50%);

}

@media screen and (max-width: 1024px) {
  .footer__contact {
    flex-direction: column;
  }

  .footer__contact a {
    margin: .5em 0;
  }

  .social__links {
    margin-right: 0;
  }
}

@media screen and (max-width: 900px) {
  .footer__social {
    flex-direction: column;
  }

  .footer__contact {
    flex-direction: row;
  }

  .footer__contact a {
    margin: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .footer .container--large {
    flex-direction: column;
  }

  .footer__social-media,
  .footer__contact {
    margin: 1rem 0;
  }

  .footer__copy-rights {
    order: 9;
    margin: 1rem 0;
    font-size: 1.7rem;
  }
}




/* loader */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  color: #ffffff;
  font-size: 5px;
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: 40px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}





/*mon3m nextjs added*/
.page-header__title {
  margin-bottom: 0;
  color: var(--color-primary);
}

.page-header__hr {
  margin-bottom: 6rem;
  border-color: var(--color-secondary);
}

.page-header {
  position: relative;
}

.page-header__bread-crumb {
  position: absolute;
  bottom: -2.1rem;
  font-size: 1.5rem;
}

.post {
  display: inline-block;
}

.post__container {
  padding: 1rem 3rem 12rem;
  background-color: var(--color-pale-bg);
  /* filter: blur(1px); */
  opacity: .9;
  /* margin-top: -6rem; */
  position: relative;
}

.post__container::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-menu-bg);
  filter: blur(3px);
  z-index: -1;
}

.post__desc {
  margin-top: 2rem;
}

.post__desc p {
  /* color: var(--color-primary); */
  /* font-family: var(--font-primary); */
  font-size: calc(var(--body-font-size) + .2rem);
}

.notfound {
  text-align: center;
}

.notfound h1 {
  font-size: 20rem;
  margin-bottom: 0;
}